@import "tailwindcss";

@layer utilities{
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
  }
}
@layer components{
    .background{
      background-image: url('./assets/Image/pexels-pixabay-2150.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      background-attachment: fixed; 
      @apply absolute top-0 left-0 right-0 w-full h-70 -z-10
    }
    ul .group-li{
      @apply backdrop-blur-xs p-8 rounded-xs text-white text-4xl hover:opacity-90 transition-transform cursor-pointer hover:scale-110
    }
    .modal{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
      padding: 0;
      border: none;
      outline: none;
      max-width: 90vw;  
      max-height: 90vh;   
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 1000;
   }
}

@font-face {
  font-family: Karla;
  src: url('./assets/font/Karla/Karla-Regular.ttf') format("truetype");
}
@font-face {
  font-family: KarlaBold;
  src: url('./assets/font/Karla/Karla-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: Roboto;
  src: url('./assets/font/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: RobotoMedium;
  src: url('./assets/font/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: RobotoBold;
  src: url('./assets/font/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: RobotoLight;
  src: url('./assets/font/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: Londrina;
  src: url('./assets/font/Londrina/LondrinaSolid-Light.ttf');
}
@theme{
  --font-Karla:Karla;
  --font-KarlaBold:KarlaBold;
  --font-Roboto:Roboto;
  --font-RobotoBold:RobotoBold;
  --font-RobotoLight:RobotoLight;
  --font-RobotoMedium:RobotoMedium;
  --font-Londrina:Londrina;
}